<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  {% block styles %}
  {% endblock %}


  <title>Document</title>

  <style>
    #logo {
      width: 35px;
      height: 35px;

    }

    .nav-link {

      font-weight: bolder;
      margin-left: 20px;
    }

    .sizechange {
      height: 500px;
      width: 100%;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}"><img id="logo" src="{% static 'app/images/jeep.png' %} "
          alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact'%}">CONTACT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">PROFILE</a></li>
              <li><a class="dropdown-item" href="{% url 'orders' %}">ORDERS</a></li>
              <li><a class="dropdown-item" href="{% url 'logout'%}">LOGOUT</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'showcart' %}">CART</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>

          {% endif %}




        </ul>
      </div>
    </div>
  </nav>
  {% if request.user.is_authenticated %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}









  {% block login %}{% endblock %}

  {% block register %}
  {% endblock %}
  {% block banner-slider %}{% endblock %}
  {% block contact %}{% endblock %}


  {% block howitworks %}{% endblock %}

  {% block brands %}{% endblock %}
  {% block cat %}{% endblock %}
  {% block profile %}{% endblock %}
  {% block invoice %}{% endblock %}
  {% block addtocart %}{% endblock %}
  {% block orders %}{% endblock %}
  {% block proddetails %}{% endblock %}
  {% block checkout %}{% endblock %}
  {% block updateaddress %}{% endblock %}
  {% block address %}
  {% endblock %}

  {% block footer %}{% endblock %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/63b6c5070d.js" crossorigin="anonymous"></script>
</body>

</html>